[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tendo = "*"
configparser = "*"
discord = "*"
pylint = "*"
pyautogui = "*"
better-profanity = "*"
requests = "*"
asyncio = "*"
pynacl = "*"

[dev-packages]

[requires]
python_version = "3.9"
