[wow]
game_path = C:\Program Files (x86)\World of Warcraft\_classic_\WowClassic.exe
addon_path = C:\Program Files (x86)\World of Warcraft\_classic_\Interface\AddOns
guild_chat_log_file = SampleData\GuildChatLogger.lua
password = sample
loop_amount = 300

[discord]
token = sample
guild_chat_webhook_url = https://discord.com/api/webhooks/sample
admin_id = sample
crosschat_channel_id = sample

[state]
guild_timestamp = 0

